#about-page {
    height: 100vh;
    padding:0;
}

#about-paragraph {
    text-align: justify;
    font-size: 12px;
}

#about-right {
    border: 1px solid black;
    height: 100vh;
}

#about-left {
    border: 1px solid black;
    height: 100vh;
}


#moral-about {
    margin-right: 0;
}

#member-col{
    padding-right: 0 !important;
}

#member-icon {
    border-radius: 100%;
    border: 2px solid black;
    width: 80%;
}

#member-row {
    padding-top: 2rem;
}

#team-header {
    padding-left: 2rem;
}

#about-content{
    padding-top:2rem;
}

#management-content{
    padding-top:2rem;
}