.row.row-0 {
    display:block !important
}

.row.row-1 {
    display:block !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important
}

.cell-table {
    display:block !important;
}

.dt-table-container__row-1 {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
}

