.row.row-0 {
    display:block !important
}

.row.row-1 {
    display:block !important;
}

.cell-table {
    display:block !important;
}

#library-datatable {
    height:100vh;
}

.dash-spreadsheet.dash-freeze-top {
    max-height: 100vh;
}